DATABASE_URL=postgresql://user:password@127.0.0.1:5432/radius
PORT=3000

# Payment provider: mock | malipopay
PAYMENT_PROVIDER=mock

# MalipoPay
MALIPOPAY_BASE_URL=https://core-prod.malipopay.co.tz
MALIPOPAY_API_TOKEN=
MALIPOPAY_CALLBACK_BASE_URL=https://portal.soliduslogic.co.tz
